.about{
  width: 800px;
  text-align: center;
  margin: 0 auto;
  margin-top: 200px;
  .about-title{
    font-size: 37px;
    font-weight: 700;
  }
  .image{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 30px;
  }
}