$linen: #FFF1E6;
$brass: #CB997E;
$darkbrass: #b38872;

.contact-page{
  background-color: $linen;
  width: 100vw;
  height:250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 42px;
  padding-bottom: 20px;
  .icons{
    width: 380px;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
    // transform: translateY(-50%);
    .social{
      border: 2px dashed $brass;
      border-radius: 50%;
      padding: 10px;
    }
  }
  h1{
    font-size: 37px;
    font-weight: 700;
  }
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
  .contact-page{
    max-width: 380px;
    p{
      width: 300px;
    }
  }
}