.experience-section{
  width: 805px;
  margin: 0 auto;
  margin-top: 160px;

  .section{
    display: flex;

    .timeline{
      height: 452px;
      margin-top: 15px;

    }
    .longer-timeline{
      height: 700px;
      margin-top: 12px;
    }
  
  .experience-blocks{
    display: flex;
    align-items:flex-start;
    margin-left: 15px;
    ul{
      list-style-position: inside;
      padding-left: 0;
    }
    .logo-image{
      width: 60px;
      height: 60px;
      object-fit: contain;
      padding-right: 15px;
    }
  }
  .first{
    padding-top: 32px;
  }
  .second{
    padding-top: 55px;
  }
  .third{
    padding-top: 52px;
  }
}
  h1{
    font-size: 37px;
    font-weight: 700;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
  .experience-section{
    width: 350px;
    margin-top: 40px;
    .section{
      justify-content: center;
      .logo-image{
        display: none;
      }
      .experience-blocks{
        max-width: 280px;
      }
    }
    .timeline, .longer-timeline{
      // background-color: palegreen;
      // height: 700px !important;
      // width: 30px;
      // object-fit: cover;
      display: none;
    }
    }
}