$linen: #FFF1E6;
$brass: #CB997E;
$darkgrey: #1d1e1e;

.footer{
  border-top: solid 2px $brass;
  background-color: $linen;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $brass;
  // font-weight: bold;
}