$linen: #FFF1E6;
$brass: #CB997E;

.navbar{
  background-color: $linen;
  position: fixed;
  z-index: 999;
  top:0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  .navbar-items{
    display: flex;
    justify-content: space-around;
    width: 800px;
  }

ul { 
  margin: 15 auto 0; 
  padding: 0; 
  list-style: none; 
  display: table;
  width: 600px;
  text-align: center;
}
li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
  margin-top: 10px;
}
a {
  color:$brass;
  text-transform: uppercase;
  text-decoration: none;
  // letter-spacing: 0.1em;
  display: inline-block;
  padding: 10px 20px;
  position: relative;
  font-size: 15.5px;
  color: $brass;
  font-weight: bold;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: $brass;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}
@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
}
}
.mobile-navbar{
  display: none;
}

@media only screen and (max-width: 600px) and (min-width: 300px) {

  .navbar-items{
    display: none !important;
  }
  .mobile-navbar{
    display: inline;
    background-color: $linen;
    // p{
    //   text-align: center;
    //   color: $brass;
    //   text-transform: uppercase;
    //   background-color: $linen;
    // }
  }

  .bm-burger-button {
    position: fixed;
    left: 86vw;
    width: 36px;
    height: 30px;
    margin: 0 auto;
    margin-top: 25px;
  }
  
  .bm-burger-bars {
    background: $brass;
  }
  
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  .bm-cross {
    background: darkgray;

  }
  .bm-menu-wrap {
    height: 100%;
  }
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  .bm-item {
    // display: inline-block;
    background-color:$linen;
    color: $brass;
    text-decoration: none;
    text-align: end;
    padding: 10px 37px 10px 0;
  
  }
  // .bm-menu-wrap {
  //   position: fixed;
  //   height: 100%;
  // }
  // .bm-overlay {
  //   // background: rgba(0, 0, 0, 0.3);
  //   background-color: green;
  // }
}