$platinum: #EDEDE8;
$darkgrey: #1d1e1e;
.projects-title{
  text-align: center;
  font-size: 37px;
  font-weight: 700;
  margin-top: 30px;
}
.projects-section{
width: 95vw;
margin: 0 auto;

.projects{
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;

  .top-layer{
    z-index: 2;
    position: relative;
    padding: 70px 100px 0px 100px;
    .laptop-image{
      width: 350px;
    }
    .project-paragraph{
      width: 450px;
      .tech-title{
        font-weight: bold;
      }
    }
  }
  .box-one{
    width: 450px;
    height: 600px;
    background-color: $platinum;
    z-index: 0;
    position: absolute;
    top: 2270px;
    left: 200px;
  }
  .box-two{
    width: 450px;
    height: 600px;
    background-color: $platinum;
    z-index: 0;
    position: absolute;
    top: 2270px;
    left: 850px;
  }
  .box-three{
    width: 450px;
    height: 600px;
    background-color: $platinum;
    z-index: 0;
    position: absolute;
    top: 2970px;
    left: 200px;
  }
  .box-four{
    width: 450px;
    height: 600px;
    background-color: $platinum;
    z-index: 0;
    position: absolute;
    top: 2970px;
    left: 850px;
  }
  .button{
    margin-right: 10px;
    letter-spacing: 0;
  }
  .button:hover,
.button:active {
  // letter-spacing: 3px;
  background-color: transparent;
  color: $darkgrey;
  font-weight: bold;
}
  .button:after,
.button:before {
  // backface-visibility: hidden;
  border: 1px solid $darkgrey;
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  // position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.button:hover:after,
.button:hover:before {
  // backface-visibility: hidden;
  border-color: $darkgrey;
  transition: width 350ms ease-in-out;
  width: 100%;
}

.button:hover:before {
  bottom: auto;
  top: 0;
  width: 100%;
}

}
}

@media only screen and (max-width: 600px) and (min-width: 300px) {

  .box-one, .box-two, .box-three, .box-four{
    display: none;
  }
  .projects-section{
    width: 380px;
    .projects{

      .top-layer{
        padding: 0;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 30px;
        // :not(p){
        //   text-align: center;
        // }
      }
      .laptop-image{
        width: 200px !important;
      }
      h3{
        text-align: center;
  
      }
      .project-paragraph{
        max-width: 300px;
        margin: 0 auto;
        text-align: start;
      }
    }
  }
}